@use 'variables' as *;

.btn-base {
  display: inline-block;
  padding: 12px 24px;
  border-radius: 8px;
  font-family: $font-main;
  font-weight: 600;
  background-color: $accent-color;
  color: $text-color;
  text-decoration: none;
  cursor: pointer;
  border: none;
  transition: all 0.3s ease-in-out;

  &:hover {
    background-color: lighten($accent-color, 10%);
    transform: scale(1.05);
  }
}
