@use 'variables' as *;

footer {
  background-color: $primary-color;
  color: $text-color;
  text-align: center;
  padding: 20px;
  font-family: $font-main;
  animation: fadeInUp 1s ease-out;

  p {
    margin: 0;
    font-size: 0.9rem;
  }

  a {
    color: $text-color;
    text-decoration: underline;
    transition: color 0.3s ease;

    &:hover {
      color: $accent-color;
    }
  }

}

// Responsive
@media (max-width: 768px) {
  footer {
    font-size: 0.8rem;
    padding: 15px;
  }
}
